section.card(ng-click="flip()")
  div.card-face.back
  div.card-face.front(ng-switch="card.type")
    p.card-face-content(ng-switch-when="info") {{card.connection.firstName}} {{card.connection.lastName}}
    img.card-face-content(ng-switch-when="face", ng-src="{{card.connection.pictureUrl}}")