

@goldenratio: 1.618;
@tableau-width: 100vw/@goldenratio;
@tableau-height: 100vh;
@scoring-height: 100vh;
@scoring-width: 100vw - @tableau-width;
@num-cols: 5;

@card-width: (@tableau-width - 10%)/@num-cols;
@card-height: (100vh)/@num-cols;

@import "cards";
@import "scoring";
@import "animations.less";

li.ng-enter {
  .fadeIn;
}

body {
  background-color: #ccc;
  margin: 0;
  padding: 3%;
}

.tableau {
  width: @tableau-width;
  height: @tableau-height;
}

.scoring {
  width: @scoring-width;
  height: @scoring-height;
}

.game {
  display: flex;
  flex-direction: row;
}

