

@goldenratio: 1.618;
@tableau-width: 100vw/@goldenratio;
@tableau-height: 100vh;
@scoring-height: 100vh;
@scoring-width: 100vw - @tableau-width;
@num-cols: 5;

@card-width: (@tableau-width - 10%)/@num-cols;
@card-height: (100vh)/@num-cols;

@bg: #CFC7AC;

@import "cards";
@import "scoring";
@import "animations.less";

.ng-hide-remove {
  &:extend(.fadeIn);
}

.ng-hide-add {
  &:extend(.fadeOut);
}

body {
  background: @bg;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.tableau {
  width: @tableau-width;
  height: @tableau-height;
  padding: 3%;
  box-sizing: border-box;
}

.sidebar {
  width: @scoring-width;
  height: @scoring-height;
  padding: 3%;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-direction: row;
}

.win {
  text-align: center;
  margin-top: 20%;
}

.footer {
  position: fixed;
  bottom: 3%;
  width: 100vw;
  text-align: center;
  color: darken(@bg, 45%);

  a {
    text-decoration: none;
    color: darken(@bg, 75%);
  }
}