doctype html
html(lang="en", ng-app="app")
  head
    title Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css", type="text/css")
    script(type="text/javascript" src="http://platform.linkedin.com/in.js").
      api_key: 75xhj58bqirfyx
      authorize: true
  body
    div.game(ng-controller="GameCtrl as game")
      div.tableau
        div.cards(ng-show="game.authed")
          card(ng-repeat="card in game.cards | limitTo:20", ng-attr-flip="{{card.flipStatus}}", ng-attr-matched="{{card.matched}}")
        div.info(ng-show="!game.authed")
          h1 Super cool game
        div.win(ng-show="game.win")
          h2 It took you {{game.turns}} turns to clear the tableau.
          p.message(ng-if="game.turns <= game.connections.length ") Cheater.
          p.message(ng-if="game.turns <= 1.5*game.connections.length && game.turns > game.connections.length") Nice job!
          p.message(ng-if="game.turns <= 2*game.connections.length && game.turns > 1.5*game.connections.length") You did okay.
          p.message(ng-if="game.turns > 2*game.connections.length") Wow, you must be bad with faces.
      div.scoring
        ul.scoreboard
          li 
            div(ng-if="game.authed") Authed!
              p Turns: {{game.turns}} Length: {{game.cards.length}}
              p(ng-show="game.win") You win!
              button(ng-click="game.init()") Init
              button(ng-click="game.deal()") Deal
            div(ng-if="!game.authed")
              script(type="in/Login")
          li(ng-repeat="connection in game.matchedConnections")
            img(ng-src="{{connection.pictureUrl}}")
            p {{connection.firstName}} {{connection.lastName}}
  script(src="js/bundle.js")