doctype html
html(lang="en", ng-app="app")
  head
    title Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato", type="text/css")
    link(rel="stylesheet", href="css/style.css", type="text/css")
    script(type="text/javascript" src="http://platform.linkedin.com/in.js").
      api_key: 75xhj58bqirfyx
      authorize: true
  body
    div.game(ng-controller="GameCtrl as game")
      div.tableau
        div.cards(ng-show="game.authed")
          div.slot(ng-repeat="card in game.cards | limitTo:20")
            card.card(ng-attr-flip="{{card.flipStatus}}", ng-attr-matched="{{card.matched}}", ng-click="game.selectCard(card)")
        div.info(ng-show="!game.authed")
          h1 LinkedIn Connection Concentration
          p Please authorize this game with your LinkedIn account.
          script(type="in/Login")
        div.win(ng-show="game.win")
          h2 It took you {{game.turns}} turns to clear the tableau.
          p.message(ng-if="game.turns <= game.connections.length") Cheater.
          p.message(ng-if="game.turns <= 2*game.connections.length && game.turns > game.connections.length") Nice job!
          p.message(ng-if="game.turns <= 3*game.connections.length && game.turns > 2*game.connections.length") You did okay.
          p.message(ng-if="game.turns > 3*game.connections.length") Wow, you must be bad with faces.
          button(ng-click="game.newGame()") New Game
      div.sidebar
        div.scoreboard 
          div.turns(ng-if="game.authed")
            | Turns 
            div.count {{game.turns}}
          ul.connections
            li.connection(ng-repeat="connection in game.matchedConnections")
              img.connection-img(ng-src="{{connection.pictureUrl}}")
              div.connection-info
                p.connection-name {{connection.firstName}} {{connection.lastName}}
                p.connection-headline {{connection.headline}}
    div.footer
      | A game by Ryan Tsao 
      a(href="https://github.com/rtsao/memory-game-linkedin/") (Source)
  script(src="js/bundle.js")
