doctype html
html(lang="en")
  head
    title Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css", type="text/css")
    script(type="text/javascript" src="http://platform.linkedin.com/in.js").
      api_key: 75xhj58bqirfyx
      authorize: true
  body
    h1 Hello World!
    script(type="in/Login").
      Hello, <?js= firstName ?> <?js= lastName ?>.
  script(src="js/bundle.js")
