doctype html
html(lang="en", ng-app="app")
  head
    title Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css", type="text/css")
    script(type="text/javascript" src="http://platform.linkedin.com/in.js").
      api_key: 75xhj58bqirfyx
      authorize: true
  body
    div.game
      div.tableau
        div(ng-controller="GameCtrl as game")
          div(ng-if="game.authed") Authed!
            button(ng-click="game.init()") Init
            button(ng-click="game.deal()") Deal
            div.cards
              div.card(ng-repeat="card in game.cards | limitTo:20" card)
          div(ng-show="!game.authed")
            script(type="in/Login")
      div.scoring
        p Hello world
  script(src="js/bundle.js")