doctype html
html(lang="en", ng-app="app")
  head
    title Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/style.css", type="text/css")
    script(type="text/javascript" src="http://platform.linkedin.com/in.js").
      api_key: 75xhj58bqirfyx
      authorize: true
  body
    div.game(ng-controller="GameCtrl as game")
      div.tableau
        div.cards
          card(ng-repeat="card in game.cards | limitTo:20")
      div.scoring
        ul.scoreboard
          li 
            p Turns: 5
            div(ng-if="game.authed") Authed!
              button(ng-click="game.init()") Init
              button(ng-click="game.deal()") Deal

            div(ng-show="!game.authed")
              script(type="in/Login")
          li Bob Smith
  script(src="js/bundle.js")